$kanjiCharacterSize: 28px;

.kanji-list {
  display: inline-flex;
  flex-direction: column;
  gap: 2px;

  min-height: 0;
}

.kanji-link {
  padding: 4px 8px;
  border-left: 4px solid transparent;
  transition: background-color 0.1s ease-out, border-left-color 0.1s ease-out;

  user-select: none;
  -webkit-user-drag: none;

  &:not(.kanji-link-active):hover {
    border-top-color: transparent;
    background-color: #f4f4f4;
  }
}

.kanji-link-character {
  font-size: $kanjiCharacterSize;
  line-height: $kanjiCharacterSize;
  vertical-align: middle;
  text-align: center;

  display: flex;
  align-items: center;
}

.kanji-list-scroll {
  direction: rtl;
  overflow-y: scroll;
}

.kanji-list-inner {
  display: flex;
  flex-direction: column;
  gap: 4px;

  direction: ltr;
}

.kanji-link-active {
  border-left-color: #09c;
  background-color: hsl(203, 91%, 91%);
}

.loading {
  padding: 4px 8px;
  text-align: center;
}

.result-count {
  padding: 4px 8px;
}

.search-container {
  padding: 4px 8px;
}
