.kanji-pane-container {
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 100%;

  padding: 16px;
  gap: 16px;
}

.kanjiPaneList {
  display: flex;
  flex-direction: column;
  gap: 12px;

  min-height: 0;
  min-width: 280px;
}

.right-side {
  flex-grow: 5;
}

.searchContainer {
  display: flex;
  flex-direction: column;
}

.advancedSearch {
  font-size: 0.8em;
  cursor: pointer;
}
