.main {
  width: 100%;
}

.container {
  margin-top: 40px;
  border-radius: 4px;
  background-color: lighten(#0c9, 55%);
  padding: 16px;
}

.test-word {
  width: 100%;
  text-align: center;
  font-size: 4em;
  padding: 64px 0;
}

.input-box {
  background-color: white;
  text-align: center;
}
