.main {
  width: 100%;
  padding-top: 40px;
}

.container {
  margin-top: 8px;
  border-radius: 4px;
  background-color: lighten(#393, 45%);
  padding: 16px;
}

.testWord {
  width: 100%;
  text-align: center;
  font-size: 4em;
  padding: 64px 0;
}

.needHelp {
  margin-top: 16px;
  display: flex;

  summary {
    cursor: pointer;
    margin-bottom: 8px;
  }
}

.possibleAnswers {
  padding-left: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: flex-start;
}

.possibleAnswer {
  border: 1px solid rgba(0, 0, 0, 0.25);
  font-size: 1.1em;
  padding: 4px 12px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.25);
  cursor: pointer;
}
