.main {
  width: 100%;
  padding-top: 40px;
}

.container {
  margin-top: 8px;
  border-radius: 4px;
  background-color: lighten(#393, 45%);
  padding: 16px;
}

.test-word {
  width: 100%;
  text-align: center;
  font-size: 4em;
  padding: 64px 0;
}

.input-box {
  text-align: center;
}
