main.main {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  list-style-type: none;

  li {
    flex-basis: 0;
    flex-grow: 1;
  }
}

.link {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 12px;
  border-top: 4px solid transparent;
  user-select: none;
}

.link-active {
  border-top-color: #09c;
  background-color: hsl(203, 91%, 91%);
}
