$navLinkAccentColor: #09c;
$navLinkColor: hsl(203, 91%, 91%);

main.main {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  list-style-type: none;

  li {
    flex-basis: 0;
    flex-grow: 1;
  }
}

.link {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 12px;
  border-top: 4px solid transparent;
  transition: background-color 0.1s ease-out, border-top-color 0.1s ease-out;

  // Make the top bar seem less web-ish
  user-select: none;
  cursor: default;
  -webkit-user-drag: none;

  &:not(.link-active):hover {
    border-top-color: transparent;
    background-color: #f4f4f4;
  }
}

.link-active {
  border-top-color: $navLinkAccentColor;
  background-color: $navLinkColor;
}
